{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="card">
            <h1>Editer la question</h1>

            {{ form(edit_form) }}
            <a href="{{ path('admin_question') }}" class="btn btn-primary">
                Back to the list
            </a>
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
